<div
    class="b-img"
    [ngStyle]="{
        'background-image': 'url(' + historias[currentSentence].img + ')'
    ,}"
>
    <div class="row p-3">
        <div class="col p-0">
            <button
                (click)="prev()"
                class="btn btn-light border-1 border-dark-subtle w-100 p-3"
            >
                Anterior
            </button>
        </div>
        <div class="col p-0">
            <button
                (click)="next()"
                class="btn btn-light border-1 border-dark-subtle w-100 p-3"
            >
                Següent
            </button>
        </div>
    </div>
    <p
        *ngFor="let historia of historias; let i = index"
        [ngStyle]="{
            display: 'flex',
            'justify-content': 'center',
            'font-size': '15px',
            backgroundColor:
                currentSentence == i
                    ? 'rgb(255, 192, 203)'
                    : 'rgb(248, 248, 248)'
        }"
        class="rounded-pill p-2 border border-2 border border-dark"
    >
        {{ historia.txt }}
    </p>
</div>
